[Unit]
Description=WebServer
After=network.target

[Service]
ExecStart=/usr/local/bin/npm run webserver
WorkingDirectory=/home/pi/server-checker
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
